window {

	background-color: green;

	border-radius: 2px;
}

label{
	background-color: white;

	border-radius: 10px;

	font-size: 15px;
}

grid {

	margin-top: 10px;
}

button {

	border-width: 3px;
	border-color: darkgrey;
	border-style: outset;

	font-size: 20px;
	color: black;

	margin: 5px;
}

button:active {
  background-color: #0274d9;
}


button:hover {
	/*background-image: linear-gradient(to top right, blue 20%, #f0f 80%);*/
  background-color: #3085a9;
} 

checkbutton:checked {
  background-color: #56f9a0;
}

